[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = "*"
epc = "*"
importmagic = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pytest = "*"
isort = "*"
sphinx = "*"

[packages]
parsley = {path = ".",editable = true}

[requires]
python_version = "3.7"
